body {
    position: relative;
}

.material-icons {
    user-select: none;
}

/* Navbar */
.navbar {
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    justify-content: space-around;
    padding: 0px;
  }

.nav {
    height: 100%;
}

.navbar-brand, .navbar-nav .nav-link {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-link, .nav-link:visited {
    color: rgb(0, 119, 198) !important;
    height: 100%;
}

.nav-link:hover, .nav-link.active {
    color: #fafafa !important;
    background-color: rgb(0, 119, 198) !important;
}

#toggleIcon i {
    margin: -8px;
    padding: 8px;
}

#toggleIcon i, #toggleIcon i:visited,
.navbar-brand, .navbar-brand:visited {
    color: #333333 !important;
}

.navbar-brand:hover, .navbar-brand.active, 
#toggleIcon:hover i, #toggleIcon.active i {
    color: #fafafa !important;
    background-color: #333333;
}

footer{
    color: #fafafa;
    background-color: #333333;
}

button:focus {
    border-style: none;
    outline: none;
}


/* Links */
a:link {
    color: #fafafa;
    text-decoration: none;
}
a:visited {
    color: #fafafa;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 119, 198);
    text-decoration: none;
}
a:active {
    color: rgb(0, 119, 198);
    text-decoration: none;
}

/* Columns */
.padded {
    padding: 15px 30px;
}


/* Sections */
section {
    padding: 20px 0;
}
.title {
    padding: 10px 0 5px;
}
.blue {
    color: #fafafa;
    background-color: rgb(0, 119, 198);
}

.text-hover:hover {
    color: rgb(0, 119, 198);
    cursor: pointer;
}
.blue .text-hover:hover {
    color: black;
}

.icon {
    font-size: 80px;
    color: rgb(0, 119, 198);
}
.blue .icon {
    color: #fafafa;
}

/* Timeline Cards */
.timeline-panel {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .timeline-panel {
        box-shadow: none !important;
    }
}
