body {
    position: relative;
    color: black;
    overflow-x: hidden;
    background-color: #fafafa;
}

.material-icons {
    user-select: none;
}

button:focus {
    border-style: none;
    outline: none;
}

/* Navbar */
.navbar {
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    justify-content: space-around;
    padding: 0px;
    font-size: 18px;
  }

.nav {
    height: 100%;
}

.navbar-brand, .navbar-nav .nav-link {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-link, .nav-link:visited {
    color: rgb(0, 119, 198) !important;
    height: 100%;
}

.nav-link:hover, .nav-link.active {
    color: #fafafa !important;
    background-color: rgb(0, 119, 198) !important;
}

#toggleIcon i {
    margin: -13px;
    padding: 10px;
}

#toggleIcon i, #toggleIcon i:visited,
.navbar-brand, .navbar-brand:visited {
    color: black !important;
    height: 43px;
}

.navbar-brand:hover, .navbar-brand.active,
#toggleIcon:hover i, #toggleIcon.active i {
    color: #fafafa !important;
    background-color: #333333;
}

footer{
    padding: 15px 0px;
}
.copyright {
    text-align: right;
    font-size: 14px;
    margin-top: -22px;
}

/* Links */
a:link, a:visited  {
    color: #fafafa;
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(0, 119, 198) !important;
}
.blue a:hover, .blue a:active {
    color: #333333 !important;
}



a:link.link, a:visited.link  {
    text-decoration: underline;
}
a:link.black, a:visited.black  {
    color: black;
}


/* Columns */
.padded {
    padding: 15px 30px;
}
.padded-bottom {
    padding-bottom: 30px;
}
.padded-top {
    padding-top: 25px;
}

/* Sections */
section {
    padding: 20px 0 70px;
}
.title {
    padding: 25px 0 25px;
}
.padding {
    padding: 30px 0px;
}
.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

/* About */
.about-link {
    height: 80px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    background-color: rgb(235, 235, 235);
    border: none;
}
.about-link:hover, .about-link:active {
    background-color: rgb(0, 119, 198);
}
.about-link img {
    max-width: 35%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.background-img {
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-repeat: no-repeat;
    opacity: 0.95;
    color: #fafafa;
    background-color: rgba(51, 51, 51, 0.5);
}
.background-img > div {
    margin-top: 15vh;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px;
    border-radius: 5px;
    border: none;
}


/* Projects */
.tile {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 0px;
    cursor: pointer;
}
.tile-text {
    opacity: 0;
    transition: .3s ease;
    color: #fafafa;
    font-size: 12px;
    padding: 10px;
    padding: 20px 20px 10px;
    background-color: #333333;
    width: 100%;
}
.tile:hover .tile-text, .tile:active .tile-text {
    opacity: 1;
}
.tile-info {
    padding: 20px 20px 4px;
}


/* Colour Themes */
.blue {
    color: #fafafa;
    background-color: rgb(0, 119, 198);
}
.grey {
    color: #fafafa;
    background-color: #333333;
}

/* Hover Text */
.text-hover:hover, .text-hover:active {
    color: rgb(0, 119, 198);
    cursor: pointer;
}

/* Icons */
.icon {
    font-size: 80px;
    color: rgb(0, 119, 198);
}
.blue .icon, .grey .icon {
    color: #fafafa;
}

/* Timeline Cards */
.card {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: none;
}
.card img {
    border-radius: 5px;
}

/* Mobile */
@media (max-width: 768px) {
    .tile-info {
        display: none !important;
    }
    .tile-text {
        opacity: 1;
    }
    .tile {
        cursor: default;
    }
    .text-hover:hover, .text-hover:active {
        color: #fafafa;
        cursor: default;
    }
}

/* Timeline */
.end:after {
    content: none !important;
  }

@media (max-width: 992px) {
    .about-link {
        height: 60px;
    }

    .timeline > li .timeline-panel {
        width: 100% !important;
        padding: 20px !important;
        margin-top: 115px;
        text-align: left !important;
    }
    .timeline > li {
        margin-bottom: 20px !important;
    }
    .end:after {
        content: ' ' !important;
    }
}

@media (max-width: 768px) {
    .timeline:before {
        left: 50% !important;
      }
    .timeline > li .timeline-panel {
        margin-top: 100px !important;
    }
}